<h2> General Information </h2>

<h4> How people may reach you? </h4>
<div>
    <input type="radio" id="inperson" name="inperson" value="inperson" checked>
    <label for="inperson">In-Person</label>
</div>
<div>
    <input type="radio" id="online" name="online" value="online">
    <label for="online">Online (coming soon) </label>
</div>

<p> Your services are presented locally. People will either come to your store or meet you in their own places. </p>

<br>

<h4> How to make appointments with you? </h4>
<div>
    <input type="radio" id="book" name="book" value="book" checked>
    <label for="book">Book a time</label>
</div>
<div>
    <input type="radio" id="dropin" name="dropin" value="dropin">
    <label for="dropin">Drop in</label>
</div>

<p> No need for pre-registration, people can stop by your business at any of the available times.</p>

<button> Next </button>