* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
    text-align: center;
    font-weight: 400;
}

ul,
ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav {
    margin : 20px;
}

/* hide child elements */
#nav li ul {
    display:none;
}

/* show child elements when hovering over list item */
#nav li:hover ul {
    display:block;
}

ul {
    border: 1px solid #555;
  }
  
  li {
    padding : 10px;
    border-bottom: 1px solid #555;
    background-color: lightgrey;
  }
  
  li:last-child {
    border-bottom: none;
  }