* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
    text-align: center;
    font-weight: 400;
}

ul,
ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* hide child elements */
#nav li ul {
    display:none;
}

/* show child elements when hovering over list item */
#nav li:hover ul {
    display:block;
}